* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
}

.wrapper {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    180deg,
    #f01515 0.61%,
    #ff0000 34.57%,
    #1e1e1e 51.03%,
    #1e1e1e 99.4%
  );
  display: grid;
  place-items: center;
}

.container{
    width: 60%;
    height: 70%;
    background-color: #ff0000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.3em;
    border: 1px solid rgba(255, 60, 0, 0.589);
    
}

.card-container{
  width: 100%;
  height: 100%;
}

.card{
  width:100%;
  height:100%;
  transition: transform 0.5s ease-in-out;
  border-radius: 5px;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card>div{
  height:100%;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  backface-visibility: hidden;
}

.card .frontpart{
  background:url('./front.svg') no-repeat center,linear-gradient(0deg,#1e1e1e,#1e1e1e);
}

.card .backpart{
  background:linear-gradient(0deg,#1e1e1e,#1e1e1e);
  transform: rotateY(180deg);
}


.card.active{
  transform: rotateY(180deg);
}

@media (orientation: portrait){
    .container{
        width: 75%;
        height: 60%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

@media (orientation: landscape){
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}