* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
}

.wrapper {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    180deg,
    #f01515 0.61%,
    #ff0000 34.57%,
    #1e1e1e 51.03%,
    #1e1e1e 99.4%
  );
  display: grid;
  place-items: center;
}

.container{
    width: 60%;
    height: 70%;
    background-color: #ff0000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.3em;
    border: 1px solid rgba(255, 60, 0, 0.589);
    
}

.card{
    background-color: #1e1e1e;
    transition:all 0.15s linear;
    cursor: pointer;
    position: relative;
}

.card:focus,.card:hover{
    background-color: #3f3f3f;
}

.frontpart{
    position: absolute;
    width: 100%;
    height: 100%;
    border:1px solid white;
    background-color: #1e1e1e;
}



@media (orientation: portrait){
    .container{
        width: 75%;
        height: 60%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

@media (orientation: landscape){
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}